data/
ServerGlobals.lua
.vscode/*
story_generator/__pycache__/*
story_generator/babi/*
story_generator/story.txt
story_generator/test.txt
story_generator/story.txt
story_generator/rocstories
story_generator/samples_babi/corpus
story_generator/samples_babi/**//*_out
corpus/*
scripts/r10
scripts/
data_out/
.vscode/launch.json
random/*
test_*_out/*