data/
.vscode/*
story_generator/__pycache__/*
story_generator/babi/*
story_generator/story.txt
story_generator/test.txt
story_generator/story.txt
story_generator/rocstories
story_generator/samples_babi/corpus
story_generator/samples_babi/**//*_out
corpus/*
scripts/r10
data_out/
.vscode/launch.json
random/*
test_*_out/*
**/*_out/*
**/*.mp4
**/node_modules/*
# CMake files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
CTestTestfile.cmake
_deps/
out/
.cmake/
nul
input_graphs/*